OPENAI_API_KEY=sk-or-v1-ec87cf05bfddb067f51
BASE_URL=https://openrouter.ai/api/v1
PLAN_MODEL=qwen/qwen3.6-plus:free
EXEC_MODEL=qwen/qwen3.6-plus:free
SUMMARY_MODEL=qwen/qwen3.6-plus:free
REFLECT_MODEL=qwen/qwen3.6-plus:free